* {
    margin: 0;
    padding: 0;
}

html {
    background-color: $htmlColor;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    body {
        background-color: $bodyColor;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        overflow-x: hidden;
    }
}